.btn{
cursor: pointer;
border: 1px solid black;
padding: 0.8em;
background-color:white;
transition: background-color 0.2s ease;
}
.btn:hover{
    cursor: pointer;
    border: 1px solid black;
    padding: 0.8em;
    background-color:rgb(187, 182, 182);
    

}

